body{
    background-image: url("https://bit.ly/2oeSNCk");
    background-attachment: fixed;
    background-size: cover;
    
}
.twi{
    color:white;
    text-align: center;
}

.blur{
    background: white;
    width: 500px;
    margin: 12% auto;
    padding: 20px 0;
}
.form-group{
    position: relative;
    margin-bottom: 1.5rem;
}
.ph-area{
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: 200ms;
    opacity: 0.5;
    font-family: haettenschweiler;
    
}
.form-control:focus + .ph-area,
.form-control:valid + .form-control {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

.radio{
    color: black;
}