body{
    background-image: url("https://bit.ly/2oeSNCk");
    background-attachment: fixed;
    background-size: cover;
    
}
.twi{
    color:white;
    text-align: center;
}

.blur{
    background: white;
    width: 500px;
    margin: 12% auto;
    padding: 20px 0;
}
.form-group{
    position: relative;
    margin-bottom: 1.5rem;
}
.left-side{
    float: left;
    width: 45%;
}
.right-side{
    float: right;
    width: 45%;
}
#warning{
    display: none;
    border-radius: 5px;
    padding: 5px;
    background: yellow;
    color: black;
}
#year-warning{
    display: none;
    border-radius: 5px;
    padding: 5px;
    background: yellow;
    color: black;
    width: 100%;
}
.radio{
    color: #000;
}
.out{
    text-align: ;
}
.output{}